# Importing Required Libraries

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\chouk\Downloads\hyderabad_eta_data.csv")

In [3]:
df

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,rainy,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,clear,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,rainy,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,clear,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,clear,1,2,56.713490
...,...,...,...,...,...,...,...,...,...,...
995,17.227475,78.497087,17.459589,78.432632,27.024522,9,clear,2,4,18.585042
996,17.475194,78.586984,17.247182,78.400320,4.462049,1,rainy,5,14,42.688225
997,17.241046,78.320687,17.292936,78.418372,10.507442,1,clear,5,12,11.273635
998,17.485071,78.317116,17.287014,78.458982,24.656616,4,rainy,5,12,13.180450
999,17.333802,78.384656,17.461424,78.348410,18.322059,4,rainy,3,12,21.053944

## EDA

In [4]:
df.isna().sum()

start_lat            0
start_lng            0
end_lat              0
end_lng              0
distance_km          0
traffic_density      0
weather_condition    0
day_of_week          0
hour_of_day          0
ETA                  0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df.corr(numeric_only=True)

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,day_of_week,hour_of_day,ETA
start_lat,1.000000,0.029310,0.014518,-0.029424,0.034785,-0.024754,0.055406,-0.014557,-0.030701
start_lng,0.029310,1.000000,0.027262,-0.005791,0.032911,0.000297,-0.048353,0.014242,-0.007978
end_lat,0.014518,0.027262,1.000000,-0.013560,-0.008858,-0.014043,-0.057856,-0.006245,0.061752
end_lng,-0.029424,-0.005791,-0.013560,1.000000,-0.044812,0.034494,0.017789,-0.012494,0.009425
distance_km,0.034785,0.032911,-0.008858,-0.044812,1.000000,-0.031475,0.066093,0.022646,-0.008686
traffic_density,-0.024754,0.000297,-0.014043,0.034494,-0.031475,1.000000,-0.010457,0.018572,-0.009196
day_of_week,0.055406,-0.048353,-0.057856,0.017789,0.066093,-0.010457,1.000000,0.020010,0.072280
hour_of_day,-0.014557,0.014242,-0.006245,-0.012494,0.022646,0.018572,0.020010,1.000000,0.009233
ETA,-0.030701,-0.007978,0.061752,0.009425,-0.008686,-0.009196,0.072280,0.009233,1.000000

## Data Cleaning

## Feature Engineering

In [7]:
df

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,rainy,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,clear,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,rainy,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,clear,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,clear,1,2,56.713490
...,...,...,...,...,...,...,...,...,...,...
995,17.227475,78.497087,17.459589,78.432632,27.024522,9,clear,2,4,18.585042
996,17.475194,78.586984,17.247182,78.400320,4.462049,1,rainy,5,14,42.688225
997,17.241046,78.320687,17.292936,78.418372,10.507442,1,clear,5,12,11.273635
998,17.485071,78.317116,17.287014,78.458982,24.656616,4,rainy,5,12,13.180450
999,17.333802,78.384656,17.461424,78.348410,18.322059,4,rainy,3,12,21.053944

In [8]:
df["weather_condition"]=df["weather_condition"].map({'rainy':1,'foggy':2,'clear':3})

In [9]:
df

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,1,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,3,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,1,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,3,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,3,1,2,56.713490
...,...,...,...,...,...,...,...,...,...,...
995,17.227475,78.497087,17.459589,78.432632,27.024522,9,3,2,4,18.585042
996,17.475194,78.586984,17.247182,78.400320,4.462049,1,1,5,14,42.688225
997,17.241046,78.320687,17.292936,78.418372,10.507442,1,3,5,12,11.273635
998,17.485071,78.317116,17.287014,78.458982,24.656616,4,1,5,12,13.180450
999,17.333802,78.384656,17.461424,78.348410,18.322059,4,1,3,12,21.053944

# Model Building

## splitting the data

In [10]:
df

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,1,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,3,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,1,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,3,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,3,1,2,56.713490
...,...,...,...,...,...,...,...,...,...,...
995,17.227475,78.497087,17.459589,78.432632,27.024522,9,3,2,4,18.585042
996,17.475194,78.586984,17.247182,78.400320,4.462049,1,1,5,14,42.688225
997,17.241046,78.320687,17.292936,78.418372,10.507442,1,3,5,12,11.273635
998,17.485071,78.317116,17.287014,78.458982,24.656616,4,1,5,12,13.180450
999,17.333802,78.384656,17.461424,78.348410,18.322059,4,1,3,12,21.053944

In [11]:
x=df.drop("ETA",axis=1)
y=df["ETA"]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=23)

In [14]:
x_train

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day
228,17.467614,78.595193,17.289171,78.331604,14.519266,5,1,0,19
45,17.398757,78.484759,17.416844,78.511366,13.397107,4,3,6,7
373,17.404902,78.447683,17.328979,78.498591,12.536010,10,3,1,13
813,17.476253,78.306283,17.248810,78.484191,15.841633,10,1,4,5
448,17.312878,78.583384,17.217294,78.477947,10.691589,1,2,2,16
...,...,...,...,...,...,...,...,...,...
950,17.380155,78.326580,17.448252,78.307112,12.456547,2,3,5,21
969,17.342815,78.307859,17.348878,78.419305,13.386046,4,1,0,20
40,17.236611,78.461847,17.455185,78.353809,26.116945,1,3,0,0
742,17.424283,78.530791,17.258750,78.527114,2.032117,4,1,1,7
595,17.342188,78.473516,17.432604,78.493424,19.711339,3,2,0,21

In [15]:
x_test

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day
519,17.245125,78.578110,17.416812,78.363238,1.654371,2,2,2,3
837,17.308718,78.401480,17.213473,78.335593,12.991979,5,3,4,0
208,17.201518,78.382088,17.287665,78.431763,3.494933,10,1,0,9
525,17.340608,78.377033,17.283628,78.344183,13.460528,3,1,5,16
978,17.348910,78.561819,17.411110,78.315172,1.027359,3,2,0,20
...,...,...,...,...,...,...,...,...,...
647,17.403731,78.547820,17.350120,78.428996,8.317127,3,2,0,2
481,17.408725,78.336063,17.463127,78.471782,14.680455,4,2,5,21
134,17.482873,78.504978,17.415806,78.360085,18.210380,8,2,3,23
366,17.488357,78.514747,17.236901,78.397354,3.323066,7,3,0,14
879,17.266592,78.469507,17.255841,78.369414,24.895932,3,2,4,15

In [16]:
y_train

228    30.398130
45     44.762920
373    47.206334
813    11.779107
448    49.694668
         ...
950    39.117873
969    28.932119
40     31.858602
742    48.063773
595    40.240088
Name: ETA, Length: 800, dtype: float64

In [17]:
y_test

519    16.759153
837    58.410396
208    30.799480
525    39.120048
978    42.558848
         ...
647    12.961165
481    54.782646
134    59.535628
366    50.594482
879    57.981308
Name: ETA, Length: 200, dtype: float64

## Linear Regression

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [19]:
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
mean_squared_error(y_test,y_pred)

228.5919996249638

## KNN Regression

In [20]:
from sklearn.neighbors import KNeighborsRegressor
knn=KNeighborsRegressor()
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)
mean_squared_error(y_test,y_pred)

245.11420625818508

## Decision Treee

In [21]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
y_pred = dt.predict(x_test)
mean_squared_error(y_test,y_pred)

384.392576140621

## SVR

In [22]:
from sklearn.svm import SVR
sv=SVR()
sv.fit(x_train,y_train)
y_pred = sv.predict(x_test)
mean_squared_error(y_test,y_pred)

226.54505877560223

In [23]:
lr.coef_

array([-4.22512291, -0.65865854, 14.34596171,  3.93849869, -0.04716621,
       -0.13704362,  0.08144095,  0.53928957,  0.06447841])

In [24]:
lr.intercept_

-398.57379847972663

# Deployement

In [22]:
start_lat=float(input("Enter the start lat: "))
start_lang=float(input("Enter the start lang: "))
end_lat=float(input("Enter the start end_lat: "))
end_lang=float(input("Enter the start end_lang: "))
dist=float(input("Enter the distance: "))
density=int(input("Enter the star lat: "))
weather = int(input("Enter the weather "))
day=int(input("Enter the day: "))
hour=int(input("Enter the hour: "))

time=lr.predict([[start_lat,start_lang,end_lat,end_lang,dist,density,weather,day,hour]])
print("The Estimated time is",time)

Enter the start lat: 17.433
Enter the start lang: 78.3914
Enter the start end_lat: 17.4399
Enter the start end_lang: 78.43983
Enter the distance: 15.1
Enter the star lat: 3
Enter the weather 3
Enter the day: 4
Enter the hour: 11
The Estimated time is [37.25117735]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [58]:
start_lat=float(input("Enter the start lat: "))
start_lang=float(input("Enter the start lang: "))
end_lat=float(input("Enter the start end_lat: "))
end_lang=float(input("Enter the start end_lang: "))
dist=float(input("Enter the distance: "))
density=int(input("Enter .the density: "))
weather = int(input("Enter the weather "))
day=int(input("Enter the day: "))
hour=int(input("Enter the hour
               : "))

time=lr.predict([[start_lat,start_lang,end_lat,end_lang,dist,density,weather,day,hour]])
print("The Estimated time is",time)

Enter the start lat: 17.433
Enter the start lang: 78.3914
Enter the start end_lat: 17.4399
Enter the start end_lang: 78.43983
Enter the distance: 15.1
Enter the star lat: 3
Enter the weather 3
Enter the day: 4
Enter the hour: 11
The Estimated time is [37.25117735]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

## Pickle the model

In [26]:
import pickle

In [28]:
pickle.dump(lr,open("estimator.pkl",'wb'))

In [29]:
model = pickle.load(open("estimator.pkl","rb"))

In [30]:
model

LinearRegression()

In [31]:
start_lat=float(input("Enter the start lat: "))
start_lang=float(input("Enter the start lang: "))
end_lat=float(input("Enter the start end_lat: "))
end_lang=float(input("Enter the start end_lang: "))
dist=float(input("Enter the distance: "))
density=int(input("Enter the density: "))
weather = int(input("Enter the weather "))
day=int(input("Enter the day: "))
hour=int(input("Enter the hour: "))

time=model.predict([[start_lat,start_lang,end_lat,end_lang,dist,density,weather,day,hour]])
print("The Estimated time is",time)

Enter the start lat: 17.3
Enter the start lang: 78.3914
Enter the start end_lat: 17.43
Enter the start end_lang: 78.4973
Enter the distance: 15
Enter the density: 3
Enter the weather 1
Enter the day: 4
Enter the hour: 18
The Estimated time is [38.19062276]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(